.navbar-text{
    font-weight: bold !important;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.todo-item{
    margin: 0em;
    text-align: center;
}
.main{
    text-align: center;
    background-color: rgb(248, 174, 248) !important;
    box-sizing: border-box !important;
    margin-bottom: 5px !important;
}
.navbar{
    background-color: rgb(250, 66, 66) !important;
}
.btn1{
    font-size: 22px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(252, 98, 206) !important;
    padding: 4px;
}
.btn{
    font-size: 20px !important;
    background-color: rgb(153, 130, 238) !important;
    float: right;
    margin-top: -7px !important;
    padding: 10px;
    padding-bottom: -20px !important;
}
.btn:hover{
    background-color: rgb(235, 63, 63) !important;
}
.main2{
    border-radius: 70% !important;
}
*{
    box-sizing: border-box !important;
}
.input{
    width: 80% !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px !important;
    color: white !important;
    background-color: rgb(243, 85, 172);
    padding: 2px;
    float: left;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 10px !important;
    background: rgb(243, 133, 215);
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left !important;
    list-style: none !important;
  }
ul {
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;

  }
  body{
      text-align: center !important;
      align-items: center !important;
      background-color: rgb(180, 241, 235) !important;
  }
  h2{
      text-align: center !important;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(240, 84, 240);
      font-weight: bold !important;
      display: inline;
  }
  ul li:hover {
    background: rgb(248, 134, 252);
  }
 